In [21]:
#Question 1
A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)

print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [27]:
# How do you create an identity matrix in python ?

import numpy as np
#Question 
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [37]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
#Url
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [39]:
#retrieving dataset into dataFrame 
fuel_data= pd.read_csv(url, error_bad_lines=False)

In [40]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [66]:
#checking the first rows of the dataset
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [41]:
"""checking the general information of the data like 
 dataset lenght,Number of columns,datatypes of each columns 
"""
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [42]:
#Question 3
'''Which of the following fuel type code has 
   the lowest average fuel cost per unit burned?'''

def Fuel_Name(df):
    '''
        1.group the fuel types  
        2.calculate the mean for each fuel type group
        3. index is reset
        4. The fuel type with lowest average cost per unit burned det.
    '''
    fuel_cat=df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().reset_index()
    low_avg=fuel_cat[fuel_cat['fuel_cost_per_unit_burned']==fuel_cat['fuel_cost_per_unit_burned'].min()]['fuel_type_code_pudl'].tolist()
    print('The fuel type with lowest average value is %s'%low_avg[0])

                     
Fuel_Name(fuel_data)

The fuel type with lowest average value is gas

In [47]:
#Question 4
'''
1.The describe() method of the pandas 
    returns a series type summary statistics for 
    fuel_mmbtu_per_unit
2.The Std and and 75th percentile was retrieved from series

'''
fuel_data.describe()
type(fuel_data.describe())
std=fuel_data.describe()['fuel_mmbtu_per_unit'].loc['std']
seventy_five=fuel_data.describe()['fuel_mmbtu_per_unit'].loc['75%']
print('Standard Deviation :',std.round(2),',','75 Percentile :',seventy_five.round(2))

Standard Deviation : 10.6 , 75 Percentile : 17.01

In [48]:
#Question 5
'''
1.the skew() and kurtosis() methods returns a series 
2.The skew and kurtosis values is retrieved from the Series 'skew_data'
'''
skew_data=fuel_data.skew().reset_index().loc[fuel_data.skew().reset_index()['index']=='fuel_qty_burned']
print(f'The Skew is:{fuel_data.skew()[2].round(2)}')
print(f'The Kurtosis is:{fuel_data.kurtosis()[2].round(2)}')

The Skew is:15.85
The Kurtosis is:651.37

In [67]:
#Question 6
'''
This function calculates the feature with the missing values,
Total number of nans
percentage of the missing values in dataset

'''
def Missing_Values(df):
    Missing_Data=df.isnull().sum().reset_index().rename(columns={'index':'Fuel_label',0:'Missing_Values'})
    Feature_Value=Missing_Data[Missing_Data['Missing_Values']==Missing_Data['Missing_Values'].max()]['Fuel_label'].tolist()[0]
    Total_Value=Missing_Data[Missing_Data['Missing_Values']==Missing_Data['Missing_Values'].max()]['Missing_Values'].tolist()[0]
    Percent_Value=100*(Missing_Data[Missing_Data['Missing_Values']==Missing_Data['Missing_Values'].max()]['Missing_Values'].tolist()[0]/len(df))
    print('Feature:',Feature_Value ,',', f'Total:{Total_Value:.3f}',',',f'Percent:{Percent_Value:.3f}')

Missing_Values(fuel_data)

Feature: fuel_unit , Total:180.000 , Percent:0.610

In [68]:
#Question 7
fuel_data.info()
'''The Data type of fuel_unit is object so it is categorical 
    The wise imputation for a categorical feature is the mode
    categorical and mode
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

'The Data type of fuel_unit is object so it is categorical \n    The wise imputation for a categorical feature is the mode\n    categorical and mode\n'

In [64]:
#Question 8
'''Which of the features has the second and third 
    lowest correlation with the Fuel Cost Per Unit Burned?'''

'''
1.The corr() method is used to return the correlation values of
fuel_cost_per_unit_burned in form of a Series
2.The second and third lowest correlation values 
  for fuel cost per unit burned
'''

fuel_corr=fuel_data.corr().loc['fuel_cost_per_unit_burned'].sort_values(ascending=True)
fuel_corr[1:3]

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

In [65]:
#Question 9
'''For the fuel type coal, what is the percentage change in 
    the fuel cost per unit burned in 1998 compared to 1994?'''

fuel_cost_per_unit_burned_1994=fuel_data[(fuel_data['report_year']==1994)&(fuel_data['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned'].sum()
fuel_cost_per_unit_burned_1994.round(2)

fuel_cost_per_unit_burned_1998=fuel_data[(fuel_data['report_year']==1998)&(fuel_data['fuel_type_code_pudl']=='coal')]['fuel_cost_per_unit_burned'].sum()
fuel_cost_per_unit_burned_1998.round(2)

percent_change=100*(fuel_cost_per_unit_burned_1998-fuel_cost_per_unit_burned_1994)/(fuel_cost_per_unit_burned_1994+fuel_cost_per_unit_burned_1998)
percent_change

'''
None of the option is correct
'''

-11.462623677487214

In [59]:
#Question 10
avg_val=fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False).reset_index()
print('The highest average value of fuel cost per unit delivered is %s'%avg_val[avg_val['fuel_cost_per_unit_delivered']==avg_val['fuel_cost_per_unit_delivered'].max()]['report_year'].tolist()[0])

The highest average value of fuel cost per unit delivered is 1997